# Compiled class file
*.class

# Log file
*.log

# Git
*~

# InteliJ
*.iml
.idea*
# 2017.2 generates the out/ folder when building the project (remove)
out/

# Eclipse
.settings
.project
.classpath

## Build paths
build/
/.gradle/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Windows shortcuts
*.lnk

# Temp files should be stored in tmp folder
tmp/
